@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<!-- Page Content -->
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Bienvenido</h1>
        <p class="lead">
            Para la empresa XYZ el bienestar de los asociados y su grupo familiar es uno de sus
            objetivos fundamentales, Por tal motivo ofrecemos los mejores servicios vacacionales, como tambien en hospedaje
        </p>
    </header>
    @if (Model?.ListHoteles != null || Model?.ListHoteles?.Count() > 0)
    {
        <!-- Page Features -->
        <h6 class="display-4">Locaciones</h6>
        @foreach (var item in Model.ListHoteles)
        {
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                        <div class="card-body">
                            <h4 class="card-title">@item.Nombre</h4>
                            <p class="card-text">@item.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <button  onclick="submitForm('@item.Id');" class="btn btn-outline-secondary"> Ver </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- /.row -->
    }
</div>
<!-- /.container -->
<form  method="post" id="formulario" hidden>
    <input asp-for="HotelId" type="hidden" id="Idhotel">
</form>
@section Scripts{
    <script>
        const submitForm = (hotelId) => {
            $("#Idhotel").val(hotelId);
            $('#formulario').submit();
        }
    </script>
}