@model HotelViewModel
@{
    ViewData["Title"] = "Registro Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3> Crear Nuevo Hotel</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="RegistrarHotel" asp-controller="Hotel" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Calificacion" class="control-label"></label>
                        <input type="number" asp-for="Calificacion" class="form-control" placeholder="Calificacion" min="0" max="5">
                        <span asp-validation-for="Calificacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <label asp-for="TipoHotelId">Tipo habitacion</label>
                    <select asp-items="Model.ListTipoHotel" class="form-control" asp-for="TipoHotelId">
                    </select>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <label asp-for="CiudadId">Ciudad</label>
                    <select asp-items="Model.ListCiudades" class="form-control" asp-for="CiudadId">
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Registrar">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}